{% extends 'base.html' %}

{% block content %}
  {% for entry in entry_list %}
    <div class="comment">
      <p class="entry-name">{{ entry.fname }} {{ entry.lname }}</p>
      <p class="entry-age">{{ entry.date|timesince }}</p>
      <p class="entry-comment">{{ entry.comment }}</p>
    </div>
  {% endfor %}
  <p style="text-align: center;">{{ entry_list.count }} post/s</p>
  <div class="entry-form">
    <h3>Leave your own comment!</h3>
      <form method="POST">
        {% csrf_token %}
        {{ entry_form.as_p }}
        <input type="submit" value="Post!">
      </form>
  </div>
{% endblock %}
