{% extends "base.html" %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>
    <div class="large-12 columns">

        {% if user.is_anonymous %}
            <h3>Hi there, please register or login to add messages</h3>
        {% else %}
            <h3>Hi {{user}}, feel free to add messages</h3>
        {% endif %}

        <hr>
        {% for comment in comments %}
            <div class="row">
                <div class="large-2 columns small-3">
                    <img src="http://placehold.it/80x80&text=[img]"/>
                </div>
                <div class="large-10 columns">
                    <ul class="breadcrumbs">
                        <li><strong>{{ comment.author }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp; post created {{ comment.long_ago }}.</li>
                    </ul>
                    {{ comment.text }}
                    <hr>
                    <p><strong>
                    {% if comment.message_set.count > 0 %}
                        {{ comment.message_set.count }} message{{ comment.message_set.count|pluralize }} left.
                    {% else %}
                        No messages left yet.
                    {% endif %}
                    </strong>
                    </p>

                    {% for message in comment.message_set.all %}
                   <div class="row">
                       <div class="small-11 small-centered columns">
                           <ul class="breadcrumbs">
                               <li><strong>{{ message.user }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp; message sent {{ message.long_ago }}.</li>
                           </ul>
                           <p>{{ message.text }}</p>
                       </div>
                   </div>
                   {% endfor %}
                   {% if not user.is_anonymous %}
                        <a href="" class="button round small info" data-reveal-id="AddMessage" onclick="javascript:setid({{comment.pk}}); return false;">Add Message</a>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    {% if not user.is_anonymous %}
        <div id="AddMessage" class=reveal-modal data-reveal aria-labelledby="Create New Message" aria-hidden="true" role="dialog">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="comment_id" id="comment_id" />
                <p>
                  <button type="submit">
                    Submit
                  </button>
                </p>
            </form>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    {% endif %}
{% endblock %}
